/*ESTILOS PARA ABOUT*/

h2 {

    z-index: 15;
    font-size: 40px;
    font-weight: 500;
    margin: 0 20px;

}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    gap: 0px;
}

.about-me-img {
    position: relative;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.about-me-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(142, 151, 236));
    border-radius: 50%;
    scale: 0.5;

}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.about-me-text p {
    letter-spacing: normal;
    text-overflow: clip;
    text-indent: 1fr;
}

@media screen and (min-width: 1280px) {
    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 3;
        gap: 0px;
    }

    .about-me-img {
        position: relative;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .about-me-img img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        filter: drop-shadow(0 0 0.75rem rgb(142, 151, 236));
        border-radius: 50%;
        scale: 0.5;

    }

    .about-me-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin: 0;
        padding: 0;
    }

    .about-me-text p {
        letter-spacing: normal;
        text-overflow: clip;
        text-indent: 1fr;
    }
}
