

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;
    /* padding: 20px; */
    border-radius: 10px;
}

#outlined-basic, #outlined-multiline-flexible{
    color: aqua !important;
}

@media screen and (min-width: 1000px) {
    form {
        /* width: 400px; */
        height: 400px;
    }
}