* {
    /* --hue-1-transparent: rgba(255, 201, 71, 0.5);
    --hue-2-transparent: rgba(133, 105, 39, 0.5);
    --hue-3-transparent: rgba(58, 52, 39, 0.5);
    --hue-4-transparent: rgba(70, 67, 62, 0.5);
    --hue-5-transparent: rgba(67, 27, 211, 0.5);
    --hue-6-transparent: rgba(148, 112, 28, 0.5); */

    --hue-1-transparent: rgba(0, 102, 204, 0.7);
    /* Azul brillante */
    --hue-2-transparent: rgba(0, 77, 153, 0.7);
    /* Azul oscuro */
    --hue-3-transparent: rgba(0, 51, 102, 0.7);
    /* Azul aún más oscuro */
    --hue-4-transparent: rgba(0, 38, 76, 0.7);
    /* Azul casi negro */
    --hue-5-transparent: rgba(19, 19, 19, 0.7);
    /* Negro azulado */
    --hue-6-transparent: rgba(38, 38, 38, 0.7);
    /* Gris oscuro */

}

.container {
    perspective: 500px;
    width: 100px;
    height: 100px;
    position: absolute;

}

.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;

}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFC947;
    opacity: 0.5;
}


.front {
    transform: rotateY(0deg) translateZ(100px);
    background-color: var(--hue-1-transparent);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
    background-color: var(--hue-2-transparent);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
    background-color: var(--hue-3-transparent);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: var(--hue-4-transparent);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
    background-color: var(--hue-5-transparent);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: var(--hue-6-transparent);
}