
  .navigation-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
  }

  .navigation-img img {

    position: relative;
    left: 70px;
    width: 100px;
    height: 100px;
    border-radius: 164px;
    background: white;
  }

  .navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    z-index: 10;
  }

  .list-home-1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 10px;

   

  }

  .navigation-list .list-home-1 li {
    display: list-item;
    margin: 15px;
  }

  .navigation-list .list-home-1 li::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }

  .navigation-list .list-home-1 li:hover::after{
    width: 100%;
  }


  .navigation-list .list-home-1 li a {
  
    display: flex;
  }

  .navigation-list .list-home-1 li:hover {
    color: rgba(250, 235, 215, 1);

  }

  .navigation-contact {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 3;

  }

  .img-contact {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: inherit;
    z-index: 10;
  }

 .img-contact li {
    z-index: 1;
    margin: 15px;
  }

  .img-contact li a i.bxl-instagram,
  i.bxl-linkedin,
  i.bxl-github {
    color: #ffffff;
    font-size: 40px;
  }

  .img-contact li a i.bxl-instagram:hover,
  i.bxl-linkedin:hover,
  i.bxl-github:hover {
    color: rgba(250, 235, 215, 1);
  }

  
  .img-contact li a i.bxl-instagram,
  i.bxl-linkedin,
  i.bxl-github {
    color: #ffffff;
    font-size: 40px;
  }

  @media screen and (max-width: 768px) {
  .img-contact li a i.bxl-instagram,
  i.bxl-linkedin,
  i.bxl-github {
    color: #ffffff;
    font-size: 30px;
  }
  }
