.home-logo {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 100px;
    height: 100px;
    z-index: 100;
    transform: translateY(-50%);
    color: #fff;
}

.btn {
    position: absolute;
    width: 100px;
    height: 50px;
    transform: skew(-62deg, 27deg);
    top: 380px;
    /* top:230px; */
    right: 390px;
    z-index: 10;
    /* z-index: 10000000000; */
    background-color: #776b7c;
    /* pointer-events: none; */
    box-shadow: 0px 0px 10px 0px #776b7c;
}


.btn:hover {

    cursor: pointer;
    border: none;
}

.botone {
    position: absolute;
    right: 310px;
    transform: scale(0.2, 0.2);
    animation: sube 1s ease-in-out infinite;
}

@keyframes sube {
    0% {
        top: 150px;
    }

    50% {
        top: 100px;
    }

    100% {
        top: 150px;
    }

}



