.reloj{
    display: flex;
    position: relative;
    height: auto;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index:2;
}

@media screen and (max-width: 500px){
    .reloj{
        display: none;
        font-size: 15px;
        visibility: hidden;
    }
    
}