/*STYLE FOR MY WEB PAGE*/

@media(max-width: 1920px) {

  /*ESTILO PARA LA BARRA DE NAVEGACION
  */

  html {
    scroll-behavior: smooth;
  }


  .navigation {
    position: fixed;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100px;
    z-index: 3;
  }

  .navigation-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
  }

  .navigation-img img {

    position: relative;
    left: 70px;
    width: 100px;
    height: 100px;
    border-radius: 164px;
    background: white;
  }

  .navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    z-index: 10;
  }

  .list-home-1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 10px;

  }

  .navigation-list .list-home-1 li {
    display: list-item;
    margin: 15px;
  }


  .navigation-list .list-home-1 li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
  }

  .navigation-list .list-home-1 li:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: white;
    border-bottom: 4px solid #fff;
    transition: .1s;
  }

  .navigation-contact {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 3;

  }

  .navigation-contact .img-contact {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: inherit;
    position: relative;
    z-index: 0;
  }

  .navigation-contact .img-contact li {
    z-index: 1;
    margin: 15px;
  }

  .navigation-contact .img-contact li a i.bxl-instagram,
  i.bxl-linkedin,
  i.bxl-github {
    color: #ffffff;
    font-size: 40px;
  }

  .navigation-contact .img-contact li a i.bxl-instagram:hover,
  i.bxl-linkedin:hover,
  i.bxl-github:hover {
    color: yellow;
  }

  .circle {
    content: "";
    top: -200px;
    left: calc(70%);
    width: 663px;
    height: 581px;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(11, 88, 255, 1));
    z-index: 0;
    border-radius: 50%;

  }

  .navigation-contact h2 {
    visibility: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
  }

  /*ESTILOS PARA EL HOME*/
  #home {
    padding-top: 0px;
    height: 762px;
    margin-top: auto;


  }

  .presentation {
    pointer-events: none;
    z-index: 2;
    display: flex;
    width: 500px;
    height: 100px;
    padding: 50px 70px;
    background-color: #E8C089;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    position: absolute;
    left: 100px;
    bottom: calc(50%);
    margin: auto;
  }

  @keyframes caja {
    0% {
      transform: translateY(-100%);

    }

    80% {
      transform: translateY(0%);

    }

  }

  .presentation p {
    z-index: 3;
    color: #E8DFCB;
    margin: 0;
  }

  .presentation p:nth-child(1) {

    font: 32px inter;
    font-weight: 700;

  }

  @keyframes text {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }

  }

  @keyframes text2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }

  }

  .presentation p:nth-child(2) {

    font: 48px inter;
    justify-content: center;
    font-weight: 500;
  }

  .presentation p:nth-child(3) {

    font: 24px inter;
    font-weight: 600;
  }

  /*ESTILOS PARA ABOUT*/
  #about {
    height: 700px;
    z-index: 1;
    padding-top: 70px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .about h2 {

    z-index: 4;
    color: #000;
    font-size: 40px;
    font-weight: 500;
    top: 0px;

  }

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 669px;
    height: 500px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 3;
  }

  .about-me-img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
    margin-right: 75px;
    padding: 0;
  }

  .about-me-img img {
    position: relative;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    background: #fff;
    margin: 0;
    padding: 0;
  }

  .about-me-text p {
    letter-spacing: normal;
    text-overflow: clip;
    text-indent: 1fr;
  }



  #skills {
    height: 1000px;
    z-index: 1;
    position: relative;

  }

  #skills img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    z-index: -1;
  }

  .skills {
    top: 50px;
    display: flex;
    width: 669px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 3;
    padding-top: 80px;
  }

  @keyframes caja_2 {
    0% {
      z-index: 3;
      transform: translateY(100%);
    }

    80% {
      z-index: 3;
      transform: translateY(0%);
    }

  }

  .circle_2 {
    overflow: hidden;
  }


  .skills h2 {
    z-index: 4;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    top: 0px;
  }

  .skills ul {
    z-index: 4;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    left: 0px;
    top: 0px;
    column-gap: 500px;

  }

  .skills .spline {
    position: absolute;
    z-index: 3;
    background: #000;
    top: 0;
    left: 0;

  }

  .skills .barra-1 {
    width: 20px;
    height: 80%;
    top: 10px;
    left: calc(35px);
    border-bottom: 50%;
    background: #fff;
    position: absolute;
    z-index: 2;
  }

  .skills .barra-2 {
    width: 20px;
    height: 80%;
    top: 10px;
    right: calc(35px);
    border-bottom: 50%;
    background: #fff;
    position: absolute;
    z-index: 2;
  }

  .skills ul li {

    width: 80px;
    height: 80px;
    margin: 5px;
    z-index: 3;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }

  .skills ul li svg {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-color: #fff;

  }

  .circle-2 {
    overflow: hidden;
    content: "";
    top: calc(50%);
    left: -150px;
    width: 663px;
    height: 581px;
    position: absolute;
    background: linear-gradient(rgba(11, 88, 255, 1), rgba(255, 255, 255, 1));
    z-index: -1;
    border-radius: 50%;
  }

  .message {
    position: sticky;
    visibility: visible;
  }


  /*SECTION PROJECTS */
  #projects {
    z-index: 1;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 1000px;
  }

  #projects h2 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
  }

  

  .flecha-back {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    z-index: 1;
    color: #fff;
  }


  .flecha-front {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    z-index: 1;
    color: #fff;
  }

  .bx-chevron-left,
  .bx-chevron-right {
    font-size: 30px;
    position: relative;
  }

  .ovalo {
    width: 100%;
    height: 25%;
    top: calc(-12.5%);
    overflow-wrap: hidden;
    border-radius: 50%;
    position: absolute;
    background: #000;
    z-index: 1;
  }

  .project-table {
    width: 100%;
    height: calc(50%);
    display: flex;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }

  .project-table .table {

    display: flex;
    flex-direction: row;
    width: calc(100%/3);
    height: 100%;
    transition: transform 0.5s ease;

  }



  .table img{
    width: 100%;
  }


  /*PRUEBA CARD*/
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    /* Añade profundidad para la animación 3D */
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /* Rota el div */
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta la cara trasera cuando gira */
  }

  .flip-card-front {
    color: black;
  }

  .flip-card-back {
    background-color: rgb(105, 179, 162);
    color: white;
    transform: rotateY(180deg);
  }

  #contact {
    z-index: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;

  }

  #contact h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000;
  }

  #contact p {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  #contact p a {
    text-decoration: none;
    color: #000;
  }

  /*ESTILO PARA EL FOOTER*/
  #footer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer h1 {
    position: relative;
    bottom: 100px;
  }


  #footer ul {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer li {
    list-style: none;
    margin: 0 20px;
  }

  .fa-brands {
    position: relative;
    z-index: 3;
    color: white;
    font-size: 40px;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
    top: 30px;
  }

  #footer a {
    width: 210px;
    height: 80px;
    background: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg);
    box-shadow: -20px 20px 10px #00000080;

  }

  #footer a span {
    color: white;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    letter-spacing: 4px;
    transition: .5s
  }

  /*En JS trae el nodo span y cuando le hacen hover pintalo de color blanco osea 
cambiale el estilo*/
  #footer li a span:hover {
    color: white;
  }

  #footer a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: aqua;
    top: 10px;
    left: -20px;
    transform: rotate(0deg) skewY(-45deg);
  }

  #footer a::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: aqua;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);
  }

  #footer li:hover .fa-brands,
  li:hover span {
    color: #fff;
  }

  #footer li:nth-child(1) {
    & a {
      background: #3b5998;

      &::before {
        background: #365492;
      }

      &::after {
        background: #4a69ad;
      }
    }

    & a:hover {
      transform: rotate(-30deg) skew(25deg);
      box-shadow: -50px 50px 50px #3b5998;
    }

    & span {
      color: white;
    }
  }

  #footer li:nth-child(2) {
    & a {
      background: #000;

      &::before {
        background: #000;
      }

      &::after {
        background: #000;
      }
    }

    & a:hover {
      transform: rotate(-30deg) skew(25deg);
      box-shadow: -50px 50px 50px #000;
    }

    & span {
      color: white;
    }
  }

  #footer li:nth-child(3) {
    & a {
      background: #e4405f;

      &::before {
        background: #e4405f;
      }

      &::after {
        background: #e4405f;
      }
    }

    & a:hover {
      transform: rotate(-30deg) skew(25deg);
      box-shadow: -50px 50px 50px #e4405f;
    }

    & span {
      color: white;
    }
  }

  .container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #ffffff;
    height: 100px;
  }



}

/*ESTILOS PARA 500PX CELULAR*/

@media(max-width: 500px) {

  .navigation {
    width: 100%;
    --size: var(width);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 0;
    background: #fff;
    animation: caja_2 normal 3s;
  }

  .navigation-contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    bottom: 20px;
  }


  .navigation-contact h2 {
    width: auto;
    visibility: visible;
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #805757;
    font-size: 20px;
    font-weight: 700;
  }

  .navigation-contact .img-contact {
    margin-top: 10px;
    padding: 0;
    margin: 0;

  }

  .circle {
    display: none;
  }

  .navigation-img img {

    visibility: visible;
    position: absolute;
    top: -460px;
    left: calc(50%);
    transform: translateX(-50%);
    animation: none;

  }

  .navigation-list {
    display: none;
  }

  .navigation-contact {
    display: flex;
    flex-direction: row;
  }

  .navigation-contact .img-contact .small-icon {
    width: 25px;
    height: 25px;
  }


  .presentation {
    width: 100%;
    position: absolute;
    display: flex;
    height: auto;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 135px;
  }

  .circle_2 {
    position: absolute;

  }

  .presentation p {
    z-index: 3;
    color: #fff;
    margin: 0;
  }

  .presentation p:nth-child(1) {
    position: absolute;
    display: none;
  }

  .presentation p:nth-child(2) {
    margin-top: 25px;
    animation: text2 normal 3s;
    font: 20px inter;
    font-weight: 700;
  }

  .presentation p:nth-child(3) {
    margin-top: 25px;
    animation: text normal 3s;
    font: 16px inter;
    font-weight: 600;
  }

  .skills {
    position: relative;
    top: 360px;
    bottom: 0;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    animation: caja_2 normal 3s;
  }


  .skills h2 {
    z-index: 3;
    position: relative;
    color: #805757;
    font-size: 20px;
    font-weight: 700;
    top: 0px;
    left: 0px;
  }

  .skills ul {
    z-index: 3;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    left: 0px;
    top: 0px;
  }

  .skills ul li {
    width: 50px;
    margin: 5px;
    z-index: 1;

  }

  .circle-2 {
    display: flex;
    width: 150%;
    height: 800px;
    top: -58%;
    left: -25%;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(11, 88, 255, 1));

  }

  .message {
    position: absolute;
    right: 20px;
    top: 50px;
    visibility: visible;
    z-index: 1;
    animation: message 3s;
  }

  @keyframes message {
    0% {
      transform: translateY(-100%);
    }

    80% {
      transform: translateY(0%);
    }

  }
}