body {
  margin: 0;

}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 762px;
  z-index: 0;
  background-color: rgb(0, 0, 0);

}


@media (max-width: 500px) {

  #root {
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: 0;
  }

  #particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgb(0, 0, 0);
  
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}